<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>

<body>
  <h2>Liste over  <%= bilder.length %> <%= bilder[0].media %></h2>

  <table id="media">
    <caption>Liste over <%= bilder.length %> <a href="http://gergeo.se/RWD-Table-Patterns/" target="_blank"> solution</a>:</caption>
    <thead>
      <tr>
        <th>Filnavn</th>
        <th>Make and Model</th>
        <th>Format (Width x Height)</th>
        <th>Orginal dato</th>
      </tr>
    </thead>
      <tbody>
        <% bilder.forEach(function(bilde){ %>
        <tr>
          <td><%= bilde.filnavn %></td>
          <td><%= bilde.Make %> - <%= bilde.Model %></td>
          <td><%= bilde.ExifImageHeight %> x <%= bilde.ExifImageWidth %> </td>
          <td><%= bilde.DateTimeOriginal %></a></td>
        </tr>
        <% }); %>
      </tbody>
      <tfoot>
        <tr>
          <td>Data retrieved from <a href="http://www.infoplease.com/ipa/A0855611.html" target="_blank">infoplease</a> and <a href="http://www.worldometers.info/world-population/population-by-country/" target="_blank">worldometers</a>.</td>
        </tr>
      </tfoot>
    </table>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>
