<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>

<body>
  <h2>Liste over  <%= bilder.length %> <%= bilder[0].media %></h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" data-pattern="priority-columns">
        <table summary="This table shows how to create responsive tables using RWD-Table-Patterns' functionality" class="table table-bordered table-hover">
          <caption class="text-center">Liste over <%= bilder.length %> <a href="http://gergeo.se/RWD-Table-Patterns/" target="_blank"> solution</a>:</caption>
          <thead>
            <tr>
              <th data-priority="1">Filnavn</th>
              <th data-priority="2">Make and Model</th>
              <th data-priority="3">Format (Width x Height)</th>
              <th data-priority="4">Orginal dato</th>
            </tr>
          </thead>
          <tbody>
            <% bilder.forEach(function(bilde){ %>
            <tr>
              <td><a href= <%= bilde.absolute_path %> ><%= bilde.filnavn %></td>
              <td><%= bilde.Make %> - <%= bilde.Model %></td>
              <td><%= bilde.ExifImageHeight %> x <%= bilde.ExifImageWidth %> </td>
              <td><%= bilde.DateTimeOriginal %></a></td>
            </tr>
            <% }); %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">Data retrieved from <a href="http://www.infoplease.com/ipa/A0855611.html" target="_blank">infoplease</a> and <a href="http://www.worldometers.info/world-population/population-by-country/" target="_blank">worldometers</a>.</td>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
