
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/minstil.css">
</head>

<header>
    <% include ../partials/header %>
</header>

<body>
  <h2>Liste over  <%= filelist.length %> bilder</h2>
    <div id="screen" class="screen">
      <div class="content">
        <ul id="list" class="list">
        <% var teller = 0;
           filelist.forEach(function(bilde){
             if(teller % 1){ %>
               <li class="item item<%= teller %> landscape"><img src="/art/<%= bilde %>" /></li>
            <% }else if(teller % 3){ %>
              <li class="item item<%= teller %> landscape"><img src="/art/<%= bilde %>" /></li>
            <% }else if(teller % 11){ %>
              <li class="item item<%= teller %> square"><img src="/art/<%= bilde %>" /></li>
            <% }else { %>
              <li class="item item<%= teller %>"><img src="/art/<%= bilde %>" /></li>
            <% }
        teller ++
        }); %>
        </ul>
      </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
