<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
    <link rel="stylesheet" href="/css/liste.css">

</header>

<body>
  <h2>Liste over  <%= vidois.length %> <%= vidois[0].media %></h2>

  <table id="media">
      <caption>Liste over <%= vidois.length %> <a href="http://gergeo.se/RWD-Table-Patterns/" target="_blank"> solution</a>:</caption>
    <thead>
      <tr>
        <th>Filnavn</th>
        <th>Lengde</th>
        <th>Format (Width x Height)</th>
        <th>Make & Model</th>
      </tr>
    </thead>
    <tbody>
      <% vidois.forEach(function(video){ %>
      <tr>
        <td><%= video.filnavn %></td>
        <td><%= video.duration %></td>
        <td><%= video.resolution_w %> x <%= video.resolution_h %> </td>
        <td><%= video.Make %> & <%= video.Model %></td>
      </tr>
      <% }); %>
    </tbody>
    <tfoot>
      <tr>
        <td>Data retrieved from <a href="http://www.infoplease.com/ipa/A0855611.html" target="_blank">infoplease</a> and <a href="http://www.worldometers.info/world-population/population-by-country/" target="_blank">worldometers</a>.</td>
      </tr>
    </tfoot>
  </table>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
